.field {
    padding: 1rem 0;
}

.field label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.field input,
.field textarea {
    background: #FFFFFF;
    border-radius: 5px;
    width: 100%;
    border: none;
    font-size: 1.25rem;
    padding: 1rem;
    box-sizing: border-box;
}