.banner {
    padding-top: 3rem;
    padding-bottom: 6rem;
    background:linear-gradient(0deg, rgba(155, 75, 95, 0.6), rgba(155, 75, 95, 0.6)), url("../../assets/img/macro-presentation.jpeg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--branco);
    display: grid;
    grid-template-columns: 65% 35%;
}

.banner-title {
    line-height: normal;
    font-family: var(--fonte-secundaria);
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.banner-text {
    font-family: var(--fonte-secundaria);
    font-size: 1.125rem;
}

@media (max-width: 900px) {
    .banner {
        padding-top: 2rem;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
    }

    .banner-title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .banner-text {
        font-size: 1rem;
    }
}