.actions-presentation {
    display: flex;
    column-gap: 1.5rem;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.invert {
    flex-direction: row-reverse;
}

.actions-title {
    text-align: center;
    padding: 2rem 0 3rem;
    font-size: 3rem;
    text-transform: capitalize;
}

.actions-text-container {
    width: calc(65% - .75rem);
}

.actions-text {
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 1.5rem;
}

.actions-image-container {
    width: calc(35% - .75rem);
    display: flex;
    justify-content: center;
}

.actions-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 900px) {
    .actions-presentation {
        row-gap: 1.5rem;
        margin-bottom: 1.5rem;
        flex-direction: column;
    }

    .container>div:nth-child(2) .actions-presentation {
        flex-direction: row;
    }

    .actions-title {
        font-size: 2rem;
    }

    .actions-text-container {
        width: 100%;
    }

    .actions-image-container {
        width: 100%;
    }

}