header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--branco) !important;
}

.logo {
    height: 64px;
}

.navigation {
    display: flex;
    column-gap: 1.5rem;
    justify-content: space-around;
}

@media (max-width: 900px) {
    header {
        flex-direction: column;
        gap: 1rem;
    }

    .logo {
        height: 50px;
    }

    .navigation {
        flex-direction: column;
        text-align: center;
        row-gap: 4px;
    }
}